.vs/
TestResults/
Published/
PhantasmaChain/obj/
PhantasmaChain/bin/
PhantasmaNode/bin/
PhantasmaNode/obj/Debug/
packages/
PhantasmaTests/obj/
PhantasmaTests/bin/
PhantasmaSpinner/obj/
PhantasmaSpinner/bin/
PhantasmaNode/bin/
PhantasmaNode/obj
