.vs/
PhantasmaChain/obj/
PhantasmaNode/bin/
PhantasmaNode/obj/Debug/
packages/
PhantasmaChain/bin/
PhantasmaTests/obj/
PhantasmaTests/bin/
PhantasmaSpinner/obj/
PhantasmaSpinner/bin/
PhantasmaNode/bin/
PhantasmaNode/obj
PhantasmaNode/obj/
